* {
  box-sizing: border-box;
}

.test {
  border: 1px solid red;
}
.canclick {
  cursor: pointer;
  transition: background-color 0.25s;
}
.canclick:hover {
  background-color: lightgreen;
}
.candrag {
  cursor: grab;
}
img {
  object-fit: fill;
}