* {
  box-sizing: border-box;
}

.test {
  border: 1px solid red;
}
.canclick {
  cursor: pointer;
  transition: background-color 0.25s;
}
.canclick:hover {
  background-color: lightgreen;
}
.candrag {
  cursor: grab;
}
img {
  object-fit: fill;
}
.btn:hover {
  background-color: #e8e8e8;
}
.btn {
  transition: 350ms ease all;
}